::-webkit-scrollbar {
    width: 18px;
    height: 18px;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    border: 8px solid #fff;
    background-color: rgba(0,0,0,.05);
}

::-webkit-scrollbar-thumb {
    min-height: 48px;
    min-width: 48px;
    background-clip: padding-box;
    background-color: #444;
    border: 8px solid #fff;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: #fff;
}



h1, h2, h3, h4, h5, h6 {
    color: #222;
}

ul { 
    list-style: none;
}

ul > li  { 
    position: relative; 
    padding: 0 24px 0 36px; 
}

ul > li:before {
    content: '';
    position: absolute;
    top: .75em;
    left: 21px;
    margin-top: -1px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color:#000;
}

img { 
    max-width: 100%;
    height: auto;
}

[class^="panel_"] > :first-child { margin-top: 0; }
[class^="panel_"] > :last-child { margin-bottom: 0; }